<h1>All Products - Sorted By Price - Highest to Lowest</h1>

<p>Number of products available: <%= @products.size() %></p>

<div id="search">
  <%= render partial: "shared/search" %>
</div>

<%= render partial: "product", locals: {all: @all}, collection: @products %>